<!doctype html>
<html lang="no">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Padel Turnering</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<h1>Padel Turnering</h1>
<div class="legg-til-spiller">
<form method="post" action="{{ url_for('add_player') }}">
    <input name="name" placeholder="Spiller-navn" required>
    <button type="submit">Legg til spiller</button>
</form>
</div>
<h2>Spillere:</h2>
<ul>
{% for player in players %}
    <li>
    {{ player.name }}
    <div class="fjern-spiller">
    <form method="post" action="{{ url_for('remove_player') }}" style="display:inline;">
        <input type="hidden" name="name" value="{{ player.name }}">
        <button type="submit" onclick="return confirm('Fjern {{ player.name }}?')">Fjern</button>
    </form>
    </div>
    </li>
{% endfor %}
</ul>
<form method="get" action="{{ url_for('start_round') }}">
    <button type="submit" {% if players|length < 4 %}disabled{% endif %}>Start Runde</button>
</form>

<form method="get" action="{{ url_for('resultater') }}">
    <button type="submit">Se Resultater</button>
</form>


</body>
</html>