<!DOCTYPE html>
<html lang="no">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resultater</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<h2>Resultater:</h2>

<div class="podium-container">
    <div class="podium">
        <div class="pillar silver">
            <div class="pillar-label">
                2<br>
                {% if players|length > 1 %}{{ players[1].name }}{% endif %}
            </div>
        </div>
        <div class="pillar gold">
            <div class="pillar-label">
                1<br>
                {% if players|length > 0 %}{{ players[0].name }}{% endif %}
            </div>
        </div>
        <div class="pillar bronze">
            <div class="pillar-label">
                3<br>
                {% if players|length > 2 %}{{ players[2].name }}{% endif %}
            </div>
        </div>
    </div>
</div>

<ul class="result-list">
    {% for player in players[3:] %}
    <li>
        <span class="plassering">{{ loop.index + 3 }}.</span>
        <span class="spiller-navn">{{ player.name }}</span>
        <span class="stats">Seiere: {{ player.wins }} Poeng: {{ player.points }}</span>
    </li>
    {% endfor %}
</ul>
</body>
</html>